@page
@using ASPCoreFormSelectDemo.Models
@model ASPCoreFormSelectDemo.Pages.AddManModel

@{
    ViewData["Title"] = "AddMan";
}

<h1>AddMan</h1>

<h4>Human</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Human.Name" class="control-label"></label>
                <input asp-for="Human.Name" class="form-control" />
                <span asp-validation-for="Human.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Human.EyeColor" class="control-label"></label>
                <select asp-for="Human.EyeColor" asp-items="Model.Colors" class="form-control"></select>
                <span asp-validation-for="Human.EyeColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Human.ShoeSize" class="control-label"></label>
                <select asp-for="Human.ShoeSize" asp-items="Html.GetEnumSelectList<EnumData>()" class="form-control"></select>
                <span asp-validation-for="Human.ShoeSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
