@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @foreach (var human in Model.People)
    {
        <p>@human.Name; @(human.EyeColor?.Color ?? "none"); @human.ShoeSize.ToString() </p>
    }
</div>
